bin
obj
node_modules
.vs
/QT/Sample/Sample_1/build/Desktop_Qt_6_7_0_MinGW_64_bit-Debug/.qtc_clangd
/QT/Sample/Sample_1/debug
/QT/Sample/Sample_1/release
release
debug
build
/QT/Sample/Sample_3/.qtc_clangd
