@keyframes logoAnimation{
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes error-num{
    0%{
        transform:transformY(60px);
        opacity:0;
    }
    100%{
        transform:transformY(0);
        opacity:1;
    }
}